@import '../../styles.scss';

footer {
    display: flex;
    flex-grow: 0;

    justify-content: center;

    background-color: rgb(55, 55, 55);

    a {
        padding: 3rem;
        color: $text-light;
        text-decoration: none;
    }
    
}