<section>
    <article *ngFor="let article of articles; index as i">
        <div class="imagewrapper">
            <img *ngIf="article.img" src="../../../assets/imgs/{{article.img}}" alt="Image" class="loading" id="skeleton{{i}}"
            (load)="removeLoading(i)">
        </div>
        <h3>{{article.title}}</h3>
        <p>{{article.description}}</p>
        <div>
            <button (click)='navigateTo(article.path)' class="textlink">{{article.cta}}</button>
        </div>
    </article>
</section>