@import './../../../styles.scss';



section {
    display: flex;
    flex-flow: row;

    width: 100%;

    justify-content: center;

    gap: 3rem;

    article {
        display: flex;
        flex-flow: column;
        align-items: center;

        justify-content: flex-end;

        max-width: 25vw;
        margin: 3rem;

        h3 {
            margin: 0rem;
        }

        p {
            hyphens: auto;
            text-align: justify;
            color: $subtext-dark;
        }


        img {
            height: 20vh;
            width: calc(100vw/4);
            margin: 2rem 0rem;
            overflow: hidden;
            object-fit: cover;
        }

        :last-child {
            width: 100%;
            display: flex;

            flex-flow: row;

            justify-content: flex-end;

            button {
                color: $subtext-dark;
            }

        }
    }
}


@media screen and (max-width: $mobile) {


    section {
        flex-flow: column;
        width: 100%;

        article {
            max-width: 100%;

        }
    }
}