<div class="background-container">
    <div class="toplevel-container">
        <h1>Datenschutz & Impressum </h1>
    </div>

    <img class="background" src="./assets/imgs/legal-background.jpg" alt="elbphilharmonie hamburg">

</div>


<section class="legal">
    <article>
        <h2>Datenschutz</h2>
        <div class="card" *ngFor="let input of inputs">
            <b>{{input.header}}</b>
            <p>{{input.value}}</p>
        </div>
    </article>
    <article>
        <h2>Impressum</h2>
        <h3>Academy Consult München e.V.</h3>
        <p>Leopoldstraße 62</p>
        <p>D-80802 München</p>
        <p>fon: +49 89 381686580</p>
        <p>E-Mail: kontakt@academyconsult.de</p>
        <p>Internet: https://www.academyconsult.de</p>
    </article>

</section>