@import './../../../styles.scss';

footer {
    display: flex;
    flex-grow: 0;

    justify-content: center;

    background-color: rgb(255, 255, 255);

    a {
        padding: 3rem;
        color: $text-dark;
        text-decoration: none;
    }
    
}