// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$innovITve-primary: mat.define-palette(mat.$indigo-palette);
$innovITve-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$innovITve-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$innovITve-theme: mat.define-light-theme((color: (primary: $innovITve-primary,
                accent: $innovITve-accent,
                warn: $innovITve-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($innovITve-theme);

/*Variablen*/
$mobile: 800px;


/* Primäre und Sekundäre Farben */
$primary-light: #0466c8ff;
$primary-dark: #023e7dff;
$secondary-dark: #7d8597ff;
$secondary-light: #979dacff;
$link: rgb(0, 96, 198);

/*Weitere Farben*/
$sapphire: #0353a4ff;
$oxford-blue: #002855ff;
$oxford-blue-2: #001845ff;
$oxford-blue-3: #001233ff;
$delft-blue: #33415cff;
$paynes-gray: #5c677dff;


/* SCSS Gradients */
$gradient-top: linear-gradient(0deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-right: linear-gradient(90deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-bottom: linear-gradient(180deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-left: linear-gradient(270deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff);
$gradient-top-right: linear-gradient(45deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-bottom-right: linear-gradient(135deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-top-left: linear-gradient(225deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-bottom-left: linear-gradient(315deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-radial: radial-gradient(#0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);

/*Schatten*/
$shadow-light: #e3e3e353;
$shadow-dark: #34343446;

/* Textfarben */
$text-light: #FFFFFF;
$subtext-light: #ebebeb;
$text-dark: #232323;
$subtext-dark: #636363;

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;

    &::-webkit-scrollbar {
        display: none;
    }

    app-root {
        display: flex;
        flex-flow: column;
        min-height: 100vh;
        justify-content: space-between;
    }
}

.primary-btn {

    padding: 1rem 2rem;
    background-color: #ffffff;
    /* White background */
    color: #0a0a0a;
    /* Dark text color */
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica', 'Arial', sans-serif;
    /* This should match your website's font */
    width: fit-content;

    &:hover {
        background-color: #f2f2f2;
        /* Slightly darker on hover */
        transform: translateY(-2px);
    }

    &:active {
        background-color: #e6e6e6;
        /* Even darker when active */
        transform: translateY(1px);
    }
}


.secondary-btn {
    padding: 1rem 2rem;
    background-color: #eeeeee00;
    /* White background */
    color: $text-light;
    /* Dark text color */
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Helvetica', 'Arial', sans-serif;
    /* This should match your website's font */
    width: fit-content;

    &:hover {
        background-color: #f2f2f2;
        /* Slightly darker on hover */
        transform: translateY(-2px);
        color: black;
    }

    &:active {
        background-color: #e6e6e6;
        /* Even darker when active */
        transform: translateY(1px);
    }
}


.textlink {
    color: $text-dark;

    border: none;

    background: none;


    &:hover {
        color: $link;
        text-decoration: underline;
        cursor: pointer;
    }
}



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Inter, "Inter", sans-serif;

    background-image: 
    linear-gradient(90deg, rgba(47, 47, 47, 0.444) 5%, rgba(20, 20, 20, 0.341) 30%, rgba(33, 33, 33, 0.282) 50%, rgba(26, 26, 26, 0.146) 70%, rgba(50, 50, 50, 0) 100%),
    url('../assets/imgs/home-background.jpg');
    
}

