/*Variablen*/

/* Primäre und Sekundäre Farben */
$primary-light: #0466c8ff;
$primary-dark: #023e7dff;
$secondary-dark: #7d8597ff;
$secondary-light: #979dacff;

/*Weitere Farben*/
$sapphire: #0353a4ff;
$oxford-blue: #002855ff;
$oxford-blue-2: #001845ff;
$oxford-blue-3: #001233ff;
$delft-blue: #33415cff;
$paynes-gray: #5c677dff;


/* SCSS Gradients */
$gradient-top: linear-gradient(0deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-right: linear-gradient(90deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-bottom: linear-gradient(180deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-left: linear-gradient(270deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-top-right: linear-gradient(45deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-bottom-right: linear-gradient(135deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-top-left: linear-gradient(225deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-bottom-left: linear-gradient(315deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-radial: radial-gradient(#0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);

/*Schatten*/
$shadow-light: #e3e3e353;
$shadow-dark: #34343446;

/* Textfarben */
$text-light: #FFFFFF;
$subtext-light: #ebebeb;
$text-dark: #232323;
$subtext-dark: #636363;

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

.primary-btn {

    max-width: fit-content;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
    color: $text-light;
    background-color: $primary-dark;
    box-shadow: none;
    transition: all 250ms;

    &:hover {
        background-color: $secondary-dark;
        box-shadow: 2px 2px 2px rgba(156, 156, 156, 0.477);
        cursor: pointer;
        transition: all 250ms;
    }

}

.secondary-btn {
    max-width: fit-content;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
    color: $text-light;
    background-color: $secondary-light;
    box-shadow: none;
    transition: all 250ms;

    &:hover {
        background-color: $primary-light;
        box-shadow: 2px 2px 2px rgba(156, 156, 156, 0.477);
        cursor: pointer;
        transition: all 250ms;
    }
}